In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('appl_1980_2014.csv')

In [3]:
df.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

In [4]:
X = df[['Open','High','Low']]
y = df['Close']

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
regression = LinearRegression()
regression.fit(X,y)

LinearRegression()

In [7]:
regression.coef_

array([-0.62365731,  0.9067347 ,  0.71580526])

In [8]:
regression.intercept_

-0.09369282997614903

In [9]:
regression.predict([[94.5, 97.6, 95.9]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([98.11372343])

In [10]:
import pickle as pkl

In [11]:
file = open('model.pkl', 'wb')
pkl.dump(regression, file)
file.close()